.admin-approve-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	padding: 3rem 12%;
	background: var(--green-light);
}

.admin-approve-svg {
	margin: 2rem 12% 0 0;
}

.admin-approve-info {
	width: 22rem;
}

.admin-approve-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: right;
	padding: 0.75rem;
	box-shadow: var(--box-shadow);
	border-radius: 0.1rem;
}

.admin-approve-top-text p:nth-child(1) {
	margin-top: 0.5rem;
	font-size: 2rem;
	font-weight: 500;
	color: var(--red-light);
}

.admin-approve-top-text p:nth-child(2) {
	font-size: 0.65rem;
	letter-spacing: 0.1rem;
}

.admin-approve-bottom {
	width: 100%;
	margin-top: 1rem;
}

.admin-approve-disease,
.admin-approve-author,
.admin-approve-nid,
.admin-approve-bank,
.admin-approve-date {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0 0.5rem;
	border-bottom: 1px solid var(--circle-color);
	font-size: 0.83rem;
	text-transform: uppercase;
}

.admin-approve-disease p:nth-child(1),
.admin-approve-author p:nth-child(1),
.admin-approve-nid p:nth-child(1),
.admin-approve-bank p:nth-child(1),
.admin-approve-date p:nth-child(1) {
	width: 20%;
	text-align: left;
}

.admin-approve-disease p:nth-child(2),
.admin-approve-author p:nth-child(2),
.admin-approve-nid p:nth-child(2),
.admin-approve-bank p:nth-child(2),
.admin-approve-date p:nth-child(2) {
	width: 75%;
	text-align: right;
}

.admin-approve-modal {
	margin: 0.5rem 0 0.75rem;
	padding: 1rem 0 0.5rem;
}

.admin-approve-modal span {
	margin-right: 1rem;
	font-size: 0.85rem;
}

.admin-approve-form {
	width: 100%;
}

.admin-approve-button {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.admin-approve-approve-button,
.admin-approve-discard-button {
	border: none;
	color: var(--white-main);
	background: var(--circle-color);
	display: inline-block;
	padding: 0.1rem 1rem 0.3rem;
	text-decoration: none;
	font-size: 0.9rem;
	border-radius: 0.2rem;
	cursor: pointer;
	transition: all 0.3s linear;
	box-shadow: var(--box-shadow);
	margin-top: 0.25rem;
}

.admin-approve-approve-button:hover,
.admin-approve-discard-button:hover {
	background: var(--green-main);
}

#admin-approve-blur.active {
	filter: blur(0.4rem);
	pointer-events: none;
	user-select: none;
}

#approve-search-bar {
	animation: approve-search-bar 2s linear;
}

@keyframes approve-search-bar {
	0% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(0%);
	}
}

#approve-search-bar-icon {
	opacity: 0;
	animation: approve-search-bar-icon 2.5s linear forwards;
}

@keyframes approve-search-bar-icon {
	0%,
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
