.donate-hero-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 8% 0 12%;
	background: var(--green-light);
}

.donate-hero-text {
	margin-bottom: 1.2rem;
}

.donate-hero-text p {
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--green-main);
}

#ordered {
	animation: ordered 7s linear infinite;
}

@keyframes ordered {
	0%,
	13% {
		opacity: 0;
	}
	15%,
	73% {
		opacity: 1;
		fill: var(--green-main);
	}
	75%,
	100% {
		opacity: 0;
	}
}

.donate-hero-button {
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	border: 2px solid var(--green-main);
	border-radius: 1rem;
	padding: 0.25rem 1rem;
	color: var(--green-main);
	transition: all 0.3s linear;
}

.donate-hero-button:hover {
	background: var(--white-light);
}

.donate-donate-list-container {
	padding: 0 7% 4rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
