.hero-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 12%;
	background: var(--green-light);
}

.hero-text {
	margin-bottom: 1.2rem;
	animation: hero-text 0.75s linear;
}

@keyframes hero-text {
	0% {
		transform: translateY(-30%);
	}
	100% {
		transform: translateY(0%);
	}
}

.hero-text p {
	font-size: 2rem;
	font-weight: 600;
	color: var(--green-main);
}

.hero-button {
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	border: 2px solid var(--green-main);
	border-radius: 1rem;
	padding: 0.25rem 1rem;
	color: var(--green-main);
	transition: all 0.3s linear;
}

.hero-button:hover {
	background: var(--white-light);
}

.hero-svg {
	animation: hero-svg 0.75s linear;
}

@keyframes hero-svg {
	0% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(0%);
	}
}

#glitter {
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation: glitter 1.75s infinite linear;
}

@keyframes glitter {
	0% {
		fill: var(--yellow-light);
		transform: rotate(0deg);
	}
	50% {
		fill: var(--white-light);
	}
	100% {
		fill: var(--white-main);
		transform: rotate(360deg);
	}
}

.home-counter-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 18%;
	margin-bottom: 5rem;
}

.counter-successful-events,
.counter-running-events,
.counter-contributors {
	width: 17rem;
	height: 8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--green-main);
	background: var(--green-light);
	box-shadow: var(--box-shadow);
	border-radius: 1.5px;
	font-size: 0.95rem;
	font-weight: 700;
	text-transform: uppercase;
}

.counter {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 0.3rem;
}

.home-guideline {
	padding: 0rem 12%;
	display: flex;
	justify-content: flex-start;
	padding: 3rem 12%;
	text-align: justify;
}

.home-guideline-svg {
	margin: 3rem 0 0 12%;
}

.home-guideline-text {
	width: 22rem;
}

.home-guideline-text p:nth-child(1) {
	font-size: 1.75rem;
	font-weight: 500;
	text-align: center;
	margin: 2rem 0 0.5rem;
}

.home-guideline-text p:nth-child(2),
.home-guideline-text p:nth-child(3),
.home-guideline-text p:nth-child(4),
.home-guideline-text p:nth-child(5),
.home-guideline-text p:nth-child(6),
.home-guideline-text p:nth-child(7),
.home-guideline-text p:nth-child(8),
.home-guideline-text p:nth-child(9),
.home-guideline-text p:nth-child(10) {
	padding: 1rem 0 0.5rem;
	text-transform: uppercase;
	font-size: 0.95rem;
}

.home-guideline-text p:nth-child(4),
.home-guideline-text p:nth-child(5),
.home-guideline-text p:nth-child(6),
.home-guideline-text p:nth-child(7),
.home-guideline-text p:nth-child(8) {
	padding: 0.25rem 0;
}

.guideline-right-arrow {
	color: var(--red-main);
}

.home-guideline-text-link {
	margin-left: 0.225rem;
	text-decoration: none;
	color: var(--blue-dark);
	font-style: italic;
}
