.footer {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: var(--green-light);
	padding: 3rem 0;
}

.footer-logo {
	height: 3rem;
	width: 10rem;
	display: flex;
	align-items: center;
}

.footer-logo img {
	height: 100%;
	width: 3rem;
}

.footer-left p {
	font-size: 1.3rem;
	font-weight: 500;
	color: var(--green-main);
}

.footer-left span {
	margin-left: 0.3rem;
	font-size: 0.75rem;
}

.footer-center i {
	padding: 0.5rem;
	font-size: 1.8rem;
	color: var(--gray-light);
	cursor: pointer;
}

.footer-center p {
	text-align: center;
	font-size: 0.75rem;
}

.footer-right {
	text-align: center;
}

.footer-right .icons i {
	padding: 0.5rem;
	font-size: 1.5rem;
	color: var(--gray-light);
	cursor: pointer;
}

.footer-right p {
	font-size: 0.75rem;
}

.footer-right p i {
	font-size: 0.65rem;
	font-weight: 600;
}

.footer-center i:hover,
.footer-right .icons i:hover {
	color: var(--gray-main);
	transition: all 0.25s linear;
}
