.file-upload {
	width: 20rem;
	display: flex;
	align-items: center;
	font-size: 15px;
}

.file-upload-input {
	overflow: hidden;
	display: none;
}

.file-upload-button {
	width: 5rem;
	height: 2rem;
	margin: 0.2rem 0;
	outline: none;
	padding: 0 0.1rem;
	border: none;
	font-size: 0.9rem;
	background: var(--green-light);
	border: 1px solid var(--green-main);
	cursor: pointer;
	box-shadow: var(--box-shadow);
	border-radius: 3px;
	transition: all 0.3s linear;
}

.file-upload-button:hover {
	background: var(--white-light);
}

.file-upload-label {
	width: 15rem;
	font-size: 0.9em;
	padding: 0.2rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
