.outter-circle {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.circle-container {
	width: 100px;
	height: 100px;
	background: var(--blue-light);
	position: relative;
	border-radius: 100%;
	box-shadow: var(--box-shadow);
}

.top-semicircle {
	width: 100px;
	height: 50px;
	background: var(--white-main);
	border-radius: 100px 100px 0 0;
	position: relative;
	overflow: hidden;
}

.bottom-semicircle {
	width: 100px;
	height: 50px;
	background: var(--white-main);
	border-radius: 0 0 100px 100px;
	position: relative;
	overflow: hidden;
}
